.Calculator-body{
  max-width: 400px;
  margin: auto;
}
header{
  margin-left: 30%;
  margin-top: 30px;
}
.result{
  height: 60px;
  background-color: #bbb;
  width: 100%;
}
.result p{
 font-size: 40px;
 margin: 5px;
}

.Keypad-Container{
  display: block;
}

button{
  font-size: 30px;
  width: 25%;
  height: 60px; 
}